### Настройки

Начинаем с импорта библиотек

In [14]:
import pandas as pd
import psycopg2

In [ ]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку

import json

with open('data/connect.json', 'r') as f:
    config = json.load(f)

{'DBNAME': 'skillfactory', 'USER': 'skillfactory', 'PASSWORD': 'cCkxxLVrDE8EbvjueeMedPKt', 'HOST': '84.201.134.129', 'PORT': 5432} <class 'dict'>

Создаем соединение с заданными параметрами

In [16]:
connection = psycopg2.connect(
    dbname=config['DBNAME'],
    user=config['USER'],
    host=config['HOST'],
    password=config['PASSWORD'],
    port=config['PORT']
)

Запрос

In [17]:
# код запроса представляет из себя строковую переменную
n = 10
query = f'''select * 
            from sql.pokemon 
            limit {n}
         '''
# лучше использовать f-строки - так удобнее передавать параметры

### Выполнение запроса

In [18]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df

C:\Users\user\AppData\Local\Temp\ipykernel_1764\2473184231.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

   id                       name  type1   type2  hp  attack  defense  speed
0   1                  Bulbasaur  Grass  Poison  45      49       49     45
1   2                    Ivysaur  Grass  Poison  60      62       63     60
2   3                   Venusaur  Grass  Poison  80      82       83     80
3   4      VenusaurMega Venusaur  Grass  Poison  80     100      123     80
4   7                  Charizard   Fire  Flying  78      84       78    100
5   8  CharizardMega Charizard X   Fire  Dragon  78     130      111    100
6   9  CharizardMega Charizard Y   Fire  Flying  78     104       78    100
7  16                 Butterfree    Bug  Flying  60      45       50     70
8  17                     Weedle    Bug  Poison  40      35       30     50
9  18                     Kakuna    Bug  Poison  45      25       50     35

### Финал

In [19]:
# не забываем закрыть соединение после окончания работы
connection.close()

# <center>2. Введение. Знакомство с данными проекта 2</center>

✍ Представьте, что вы устроились на работу в кадровое агентство, которое подбирает вакансии для IT-специалистов. Ваш первый проект — создание модели машинного обучения, которая будет рекомендовать вакансии клиентам агентства, претендующим на позицию Data Scientist. Сначала вам необходимо понять, что из себя представляют данные и насколько они соответствуют целям проекта. В литературе эта часть работы над ML-проектом называется Data Understanding, или анализ данных.

Наш проект включает в себя несколько этапов:
* знакомство с данными;
* предварительный анализ данных;
* детальный анализ вакансий;
* анализ работодателей;
* предметный анализ.
* Каждая из частей будет состоять из блока практических заданий, которые вам необходимо выполнить в своих Jupyter-ноутбуках, и контрольных вопросов на платформе, которые проверяются автоматически.

Также вам предстоит отправить свой код ментору для код-ревью. Вам будет предоставлен ноутбук-шаблон и требования, согласно которым вы должны оформить своё решение.

Требования к оформлению ноутбука-решения:

* Решение оформляется только в Jupyter Notebook.
* Решение оформляется в соответствии с [ноутбуком-шаблоном](https://lms.skillfactory.ru/asset-v1:SkillFactory+DST-3.0+28FEB2021+type@asset+block@Project_2_%D0%9D%D0%BE%D1%83%D1%82%D0%B1%D1%83%D0%BA_%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD.ipynb).
* Каждое задание выполняется в отдельной ячейке, выделенной под задание (в шаблоне они помечены как ваш код здесь). Не следует создавать много ячеек для решения задачи — это провоцирует неудобства при проверке.
* Текст SQL-запросов и код на Python должны быть читаемыми. Не забывайте про отступы в SQL-коде.
* Выводы по каждому этапу оформляются в формате Markdown в отдельной ячейке (в шаблоне они помечены как ваши выводы здесь).
* Выводы можно дополнительно проиллюстрировать с помощью графиков. Они оформляются в соответствии с теми правилами, которые мы приводили в модуле по визуализации данных.
* Не забудьте удалить ячейку с данными соединения перед фиксацией работы в GitHub.

![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_1.png)

Познакомимся с каждой таблицей.

**vacancies**

Таблица хранит в себе данные по вакансиям и содержит следующие столбцы:  
![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_2.png)  
Зарплатная вилка — это верхняя и нижняя граница оплаты труда в рублях (зарплаты в других валютах уже переведены в рубли). Соискателям она показывает, в каком диапазоне компания готова платить сотруднику на этой должности.

**areas**

Таблица-справочник, которая хранит код региона и его название.  
![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_3.png)

**employers**

Таблица-справочник со списком работодателей.  
![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_4.png)

**industries**

Таблица-справочник вариантов сфер деятельности работодателей.  
![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_5.png)

**employers_industries**

Дополнительная таблица, которая существует для организации связи между работодателями и сферами их деятельности.

Эта таблица нужна нам, поскольку у одного работодателя может быть несколько сфер деятельности (или работодатели могут вовсе не указать их). Для удобства анализа необходимо хранить запись по каждой сфере каждого работодателя в отдельной строке таблицы.  
![](data/asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block@SQL_pj2_2_6.png)