Вам предоставлен словарь products, ключами которого являются названия продуктов, а значениями — их цены. Затем к вам приходит другой словарь (stocks), ключи которого — товары, а значения — скидки (в процентах) на товары.

Напишите функцию apply_discounts(products, stocks), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент. Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены. Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.

```
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

print(apply_discounts(products, stocks))

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

```

In [24]:
def apply_discounts(prod,stock):
    new_prod = {}
    for key in prod.keys():
        if key not in stock.keys():
            new_prod[key] = prod[key]
        else:
            new_prod[key] = round(prod[key] - prod[key]*float(stock[key].replace('%', ''))/100, 2)
    return new_prod

products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

print(apply_discounts(products, stocks))

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

Вам даны два файла bronze_top.csv и silver_top.csv, в которых хранится информация о ТОП-5 стран по числу бронзовых и серебряных медалей соответственно. В каждой таблице два одинаковых столбца: Country — страна и Total — число медалей.

Создайте два DataFrame на основе заданных csv-файлов. Объедините таблицы по странам таким образом, чтобы в результат вошли данные только о тех странах, которые попали в оба рейтинга. При этом в качестве суффиксов укажите строки "_bronze" и "_silver", чтобы столбцы таблиц, не участвовавших в объединении, можно было различать.

Результирующий DataFrame занесите в переменную merged. В нём должны быть следующие столбцы:

Country  
Total_bronze  
Total_silver  
Не забудьте добавить в свой код импорт библиотеки pandas.

Также обратите внимание, что для отправки решения на проверку выводить результат на экран не нужно.

In [32]:
import pandas as pd

bronzes = pd.read_csv('data/bronze_top.csv')
silvers = pd.read_csv('data/silver_top.csv')

display(bronzes)
display(silvers)

merged = bronzes.merge(
    silvers,
    on='Country',
    suffixes=['_bronze', '_silver'],
    how='inner'
)
display(merged)

   Country  Total
0   Англия      3
1    Габон      5
2  Эфиопия      1

    Country  Total
0     Габон     30
1   Эфиопия     90
2    Англия      1
3  Мозамбик     15

   Country  Total_bronze  Total_silver
0   Англия             3             1
1    Габон             5            30
2  Эфиопия             1            90

 В данном блоке вам предстоит решить задачу, которую автор модуля когда-то решал на одном из собеседований.

Дана [таблица с данными](https://lms-cdn.skillfactory.ru/assets/courseware/v1/7e342d3b6dc19a057cc4dc535a8ce591/asset-v1:SkillFactory+DSPR-2.0+14JULY2021+type@asset+block/solarpower.zip) о ежедневной выработке энергии солнечными батареями. Информация содержится в двух столбцах:

date — дата наблюдения;  
cum_power — накопленная (кумулятивная) выработка энергии на указанный день.  
Таким образом, перед вами классический пример временного ряда — числовой показатель, зависящий от времени. Давайте с ним поработаем.  

Для начала прочитаем таблицу и выведем первые пять её строк:

In [37]:
import pandas as pd
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()
print(solar_data[solar_data['cum_power'] == -1])
print(solar_data['cum_power'].iloc[45])

           date  cum_power
45   2017-02-15       -1.0
647  2018-10-10       -1.0
-1.0

В нашем временном ряде есть несколько пропусков, они обозначены числом -1. Заполните пропуски средним арифметическим между двумя соседними наблюдениями:

```
xi = xi-1 + xi+1 / 2
```

Чему равно среднее арифметическое в столбце cum_power после заполнения пропусков? Ответ округлите до целого.

In [41]:
for ind in range(solar_data.shape[0]):
    if solar_data['cum_power'].iloc[ind] == -1:
        solar_data['cum_power'].iloc[ind] = (solar_data['cum_power'].iloc[ind-1] + solar_data['cum_power'].iloc[ind+1]) / 2
        #print(solar_data['cum_power'].iloc[ind])
        
display(round(solar_data['cum_power'].mean(), 0))

np.float64(23848.0)