#DataFrame

In [1]:
import pandas as pd

DataFrame - класс используется для табличного представления данных.

Является двумерной структурой: столбцами выступают объекты Series, а строки формируются из их элементов. Также в DataFrame есть метки (индексы), которые соответствуют каждой строке таблицы. Столбец таблицы еще называют признаком.

##Создание DataFrame:

1. Создание из словаря, где ключами являются имена столбцов, а значниями - списки, в которых хранится содержимое этих столбцов.
2. Можно создать из вложенного списка, внутренние списко которого будут являться строками таблицы.

In [2]:
# 1 способ
countries_df = pd.DataFrame({
    'country' : ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5],
    'area' : [133396, 9984670, 9826630, 17125191, 603628, 207600]
})
display(countries_df)
# Зададим индексы
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY']
display(countries_df)

    country  population      area
0    Англия       56.29    133396
1    Канада       38.05   9984670
2       США      322.28   9826630
3    Россия      146.24  17125191
4   Украина       45.50    603628
5  Беларусь        9.50    207600

     country  population      area
UK    Англия       56.29    133396
CA    Канада       38.05   9984670
US       США      322.28   9826630
RU    Россия      146.24  17125191
UA   Украина       45.50    603628
BY  Беларусь        9.50    207600

In [3]:
# 2 способ
countries_df1 = pd.DataFrame(
    data = [['Англия', 56.29, 133396],
    ['Канада', 38.05, 9984670],
    ['США', 322.28, 9826630]
    ],
    columns = ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US']
)
display(countries_df1)

   country  population     area
UK  Англия       56.29   133396
CA  Канада       38.05  9984670
US     США      322.28  9826630

##Axis в DataFrame

Это ось, координата.

Данный параметр заложен во все методы, которые могут работать по двум направлениям, по умолчанию axis = 0.

axis=0 - движение по строкам

axis=1 - движение по столбцам

numeric_only=True - применять метод только к числовым столбцам(строкам, в зависимости от axis)

In [4]:
# Считаем среднее по строкам в каждом столбце:
print(countries_df.mean(axis=0, numeric_only=True))

population    1.029767e+02
area          6.313519e+06
dtype: float64

In [5]:
# Считаем среднее по столбцам в каждой строке:
print(countries_df.mean(axis=1, numeric_only=True))

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
dtype: float64

##Доступ к данным DataFrame

Обращение к столбцу (возвращается объект Series, можно проверить type(countries_df.population)):

In [6]:
# По имени столбца через точку
display(countries_df.population)
# Обратиться по индексу и указать имя столбца
display(countries_df['population'])

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
Name: population, dtype: float64

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
Name: population, dtype: float64

Для того, чтобы получить доступ к ячейкам таблицы, используются loc и iloc. Первым указывается индекс (порядковый номер), соответствующий строкам, а вторым - имя (порядковый номер) столбца

In [7]:
# Примеры
display(countries_df.loc['UK', 'area'])
display(countries_df.loc['RU', ['population','area']])
display(countries_df.loc[['UA', 'RU'], ['population','area']])
display(countries_df.iloc[3:5, 1:3])

np.int64(133396)

population      146.24
area          17125191
Name: RU, dtype: object

    population      area
UA       45.50    603628
RU      146.24  17125191

    population      area
RU      146.24  17125191
UA       45.50    603628