In [1]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()

✍ Библиотека Pandas предоставляет большое количество возможностей для преобразований данных, однако иногда  
необходимо совершать более сложные манипуляции над столбцами. Например, из столбцов, содержащих в себе некоторый текст,  
необходимо специальным образом извлечь определённые слова, даты или числа.

→ Для таких случаев Pandas не имеет специальных методов, однако позволяет расширить свою функциональность за счёт  
использования пользовательских функций. 

Мы можем написать некоторую функцию, которая принимает на вход один элемент столбца, каким-то образом его обрабатывает  
и возвращает результат, после чего применить эту функцию к каждому элементу в столбце с помощью специального метода apply().  
В результате применения этой функции будет возвращён объект Series, элементы которого будут представлять результат работы этой функции.

Рассмотрим пример. В наших данных есть столбец с адресами объектов недвижимости. Проблема этого столбца в том, что в нём  
слишком большое количество уникальных значений: почти на каждый объект недвижимости в таблице приходится свой уникальный адрес.  
Убедимся в этом, вычислив количество уникальных значений в столбце с помощью метода nunique():

In [2]:
print(melb_df['Address'].nunique())

13378

Если мы прогнозируем цену объекта, то такое большое количество возможных категорий может плохо сказаться на модели,  
которую мы бы хотели в дальнейшем построить на наших данных. Говорят, что такой признак, скорее всего, не имеет  
статистической значимости, потому что не позволяет разделить данные на группы, которые можно сравнить по целевому признаку.

Из-за таких признаков зависимость между целевым признаком, который мы хотим предсказать, и признаками, на основе  
которых мы делаем предсказание, становится очень сложной. При этом точность моделирования при учёте такого признака  
может не повыситься, а даже снизиться, а производительность однозначно резко упадёт.

Обычно подобные признаки удаляют, однако можно поступить умнее: давайте извлечём из признака адреса характеристику  
подтипа улицы (улица, шоссе, авеню, бульвар). Для этого сначала внимательнее посмотрим на структуру адреса,  
выберем несколько строк столбца Address:

In [3]:
print(melb_df['Address'].loc[177])
print(melb_df['Address'].loc[1812])
print(melb_df['Address'].loc[9001])

2/119 Railway St N
9/400 Dandenong Rd
172 Danks St

Итак, адрес строится следующим образом: сначала указывается номер дома и корпус, после указывается название улицы,  
а в конце — подтип улицы, но в некоторых случаях к подтипу добавляется географическая отметка (N — север, S — юг и т. д.),  
она нам не нужна . Для того чтобы выделить подтип улицы, на которой находится объект, можно использовать следующую функцию:

In [4]:
# На вход данной функции поступает строка с адресом.
def get_street_type(address):
# Создаём список географических пометок exclude_list.
    exclude_list = ['N', 'S', 'W', 'E']
# Метод split() разбивает строку на слова по пробелу.
# В результате получаем список слов в строке и заносим его в переменную address_list.
    address_list = address.split(' ')
# Обрезаем список, оставляя в нём только последний элемент,
# потенциальный подтип улицы, и заносим в переменную street_type.
    street_type = address_list[-1]
# Делаем проверку на то, что полученный подтип является географической пометкой.
# Для этого проверяем его на наличие в списке exclude_list.
    if street_type in exclude_list:
# Если переменная street_type является географической пометкой,
# переопределяем её на второй элемент с конца списка address_list.
        street_type = address_list[-2]
# Возвращаем переменную street_type, в которой хранится подтип улицы.
    return street_type

Теперь применим эту функцию к столбцу c адресом. Для этого передадим функцию get_street_type в аргумент  
метода столбца apply(). В результате получим объект Series, который положим в переменную street_types:

In [5]:
street_types = melb_df['Address'].apply(get_street_type)
display(street_types)

0        St
1        St
2        St
3        La
4        St
         ..
13575    Cr
13576    Dr
13577    St
13578    St
13579    St
Name: Address, Length: 13580, dtype: object

Обратите внимание, что функция пишется для одного элемента столбца, а метод apply() применяется к каждому  
его элементу. Используемая функция обязательно должна иметь возвращаемое значение.

Итак, мы смогли выделить подтип улицы. Посмотрим, сколько уникальных значений у нас получилось:

In [6]:
print(street_types.nunique())

56

У нас есть 56 уникальных значений. Однако наш результат можно улучшить. Давайте для начала посмотрим на частоту  
каждого подтипа улицы с помощью метода value_counts:

In [7]:
display(street_types.value_counts())

Address
St           8012
Rd           2825
Ct            612
Dr            447
Av            321
Gr            311
Pde           211
Pl            169
Cr            152
Cl            100
La             67
Bvd            53
Tce            47
Wy             40
Avenue         40
Cct            25
Hwy            24
Parade         15
Boulevard      13
Sq             11
Crescent        9
Cir             7
Strand          7
Esplanade       6
Grove           5
Grn             4
Fairway         4
Mews            4
Gdns            4
Righi           3
Crossway        3
Esp             2
Ridge           2
Victoria        2
Crofts          2
Athol           1
Highway         1
Cove            1
Grange          1
Res             1
Terrace         1
Qy              1
Glade           1
Nook            1
Eyrie           1
Loop            1
Dell            1
East            1
Summit          1
Grand           1
Gra             1
Hts             1
Outlook         1
Woodland        1
Ave             1
Corso           1
Name: count, dtype: int64

Из данного вывода можно увидеть, что есть группа наиболее популярных подтипов улиц, а дальше частота подтипов быстро падает.

В таком случае давайте применим очень распространённый метод уменьшения количества уникальных категорий — выделим n подтипов,  
которые встречаются чаще всего, а остальные обозначим как 'other' (другие).

Для этого к результату метода value_counts применим метод nlargest(), который возвращает n наибольших значений из Series.  
Зададим n=10, т. е. мы хотим отобрать десять наиболее популярных подтипов. Извлечём их названия с помощью атрибута index,  
а результат занесём в переменную popular_stypes:

In [8]:
popular_stypes =street_types.value_counts().nlargest(10).index
print(popular_stypes)

Index(['St', 'Rd', 'Ct', 'Dr', 'Av', 'Gr', 'Pde', 'Pl', 'Cr', 'Cl'], dtype='object', name='Address')

Попробуйте применить использованные методы последовательно и выводить результат, чтобы проследить за  
логикой преобразования.

Теперь, когда у нас есть список наиболее популярных подтипов улиц, введём lambda-функцию, которая будет  
проверять, есть ли строка x в этом перечне, и, если это так, lambda-функция будет возвращать x, в противном  
случае она будет возвращать строку 'other'. Наконец, применим такую функцию к Series street_types, полученной ранее,  
а результат определим в новый столбец таблицы StreetType:

In [9]:
melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df['StreetType'])

0           St
1           St
2           St
3        other
4           St
         ...
13575       Cr
13576       Dr
13577       St
13578       St
13579       St
Name: StreetType, Length: 13580, dtype: object

Посмотрим на результирующее число уникальных подтипов:

In [10]:
print(melb_df['StreetType'].nunique())

11

Теперь, у нас нет потребности хранить признак Address, так как, если конкретное местоположение объекта всё же и влияет  
на его стоимость, то оно определяется столбцами Longitude и Lattitude. Удалим его из нашей таблицы:

In [11]:
melb_df = melb_df.drop('Address', axis=1)

Таким образом, с помощью написания собственных функций и их комбинирования с методом apply() из библиотеки  
Pandas мы смогли извлечь информацию из признака с адресом и заменить на признак подтипа улицы. 

Примечание. Внимательный читатель наверняка обратит внимание на то, что мы допустили небольшую ошибку!

Если присмотреться, то в списке подтипов улиц street_types можно заметить подтипы, которые именуются различным  
образом, но при этом обозначают одинаковые вещи. Например, подтипы Av и Avenue, Bvd и Boulevard, Pde и Parade.  
Мы упустили данный момент, хотя в реальных задачах стоит обращать пристальное внимание на результаты преобразований  
и исправлять неточности в данных.

Такие ошибки в данных (обозначение идентичных категорий различными именами) являются одним из видов «грязных» данных.

Порой отследить такие неточности бывает очень сложно, а при наличии большого количества категорий  
(например, более ста) — практически невозможно.

Мы предлагаем вам самостоятельно разобраться с этой ошибкой: попробуйте написать функцию-преобразование  
(lambda-функцию-преобразование), которая возвращала бы вместо значений Avenue, Boulevard и Parade их  
топографические сокращения, и примените её к данным о подтипах улиц.

→ Обратите внимание, что данное преобразование необходимо применить до сокращения количества  
уникальных категорий.

Резюмируя, поделимся общими рекомендациями по уменьшению числа уникальных значений в признаке,  
который описывается категориями:

1. Определите (хотя бы на глаз) соотношение числа уникальных категорий интересующего вас признака к  
общему числу объектов в таблице. Если это соотношение превышает значение 30 %, то это уже повод задуматься  
над уменьшением числа категорий и перейти к шагу 2.

2. Если ваш признак уникален для каждого объекта, например адрес, имя или название, то такой признак, скорее  
всего, не имеет статистической значимости. От таких признаков чаще всего избавляются. Однако можно попробовать  
выделить из этого признака какие-то общие черты, например, как мы это сделали с подтипами улиц. Такой же трюк можно  
произвести, например, с названиями компаний, в которых может быть скрыт признак типа организации (из строки  
«ООО Три Слепые Мыши» можно извлечь ООО — общество с ограниченной ответственностью).

Далее переходите к шагу 3.

3. Если даже после преобразования число уникальных категорий всё ещё велико, можно попробовать с  
помощью метода value_counts() оценить, есть ли в данных категории, которые употребляются гораздо реже,  
чем остальные. Если такие категории присутствуют, переходите к шагу 4.

4. Можно подобрать число  популярных категорий таким образом, чтобы эти категории покрывали большую часть ваших данных.

Когда вы выбрали оптимальное число, переходите к шагу 5.

5. Наконец, можно совершить преобразование, обозначив категории, не попавшие в число популярных, как «другие».

→ Такая методика является очень популярной и хорошо показывает себя на практике. Однако не нужно ей злоупотреблять:  
применяя эту методику ко всем столбцам подряд, вы рискуете потерять немалую долю полезной информации из ваших данных.  
Внимательно изучите интересующий вас признак, прежде чем преобразовывать его.

In [17]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

# Написать функцию get_weekend(weekday), которая принимает элемент WeekdaySale и возвращает 1, если день выходной и 0 для остальных
# Применить эту функцию к столбцу и вычислить среднюю цену объекта, проданного в выходные дни
melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

def get_weekend(weekday):
    if weekday==5 or weekday==6:
        return 1
    return 0

melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)
melb_df.head()
mask = melb_df['Weekend'] == 1
display(round(melb_df[mask]['Price'].mean(), 0))

np.float64(1081199.0)

Преобразуйте столбец SellerG с наименованиями риелторских компаний в melb_df следующим образом: оставьте в столбце только 49 самых  
популярных компаний, а остальные обозначьте как 'other'.

Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных  
компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [30]:
company = melb_df['SellerG']
#display(company.value_counts())
popular_stypes =company.value_counts().nlargest(49).index
print(popular_stypes)
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_stypes else 'other')
display(melb_df[(melb_df['SellerG'] == 'other')])
different = melb_df[(melb_df['SellerG'] == 'Nelson')]['Price'].min() / melb_df[(melb_df['SellerG'] == 'other')]['Price'].min()
display(round(different, 1))

Index(['Nelson', 'Jellis', 'other', 'hockingstuart', 'Barry', 'Ray',
       'Marshall', 'Buxton', 'Biggin', 'Brad', 'Fletchers', 'Woodards', 'Jas',
       'Greg', 'McGrath', 'Sweeney', 'Noel', 'Miles', 'RT', 'Gary',
       'Harcourts', 'Hodges', 'YPA', 'Stockdale', 'Village', 'Kay', 'Raine',
       'Williams', 'Love', 'Douglas', 'Chisholm', 'RW', 'Rendina', 'HAR',
       'O'Brien', 'C21', 'Collins', 'Cayzer', 'Eview', 'Purplebricks',
       'Philip', 'Buckingham', 'Bells', 'Thomson', 'Nick', 'Alexkarbon',
       'McDonald', 'Burnham', 'Moonee'],
      dtype='object', name='SellerG')

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,WeekdaySale,Weekend
17,17,Abbotsford,78 Yarra St,3,h,1176500.0,S,other,2016-07-16,2.5,...,105.0,1890,Yarra,-37.80210,144.99650,Northern Metropolitan,4019,"-37.8021, 144.9965",5,1
21,21,Abbotsford,13/11 Nicholson St,3,t,900000.0,S,other,2017-03-18,2.5,...,126.0,2010,Yarra,-37.80930,144.99590,Northern Metropolitan,4019,"-37.8093, 144.9959",5,1
43,43,Airport West,1/37 Hillside Gr,3,h,600000.0,S,other,2017-03-04,13.5,...,116.0,1980,Moonee Valley,-37.72730,144.87440,Western Metropolitan,3464,"-37.7273, 144.8744",5,1
46,46,Airport West,36 Roberts Rd,4,h,785000.0,S,other,2016-08-06,13.5,...,127.0,1970,Moonee Valley,-37.72590,144.87920,Western Metropolitan,3464,"-37.7259, 144.8792",5,1
55,55,Airport West,241 Parer Rd,5,h,755000.0,PI,other,2016-05-14,13.5,...,126.0,1970,Moonee Valley,-37.72480,144.86990,Western Metropolitan,3464,"-37.7248, 144.8699",5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13546,13546,Sunbury,7 Fullbrook Dr,3,h,480000.0,PI,other,2017-08-26,31.7,...,126.0,1970,NaN,-37.56005,144.70892,Western Metropolitan,14092,"-37.56005, 144.70892",5,1
13548,13548,Sunbury,64 Stewarts La,3,h,605000.0,S,other,2017-08-26,31.7,...,229.0,1996,NaN,-37.56533,144.71233,Western Metropolitan,14092,"-37.56533, 144.71233",5,1
13556,13556,Tarneit,27 McMahon Cr,3,h,350000.0,VB,other,2017-08-26,18.4,...,103.0,2003,NaN,-37.86744,144.65609,Western Metropolitan,10160,"-37.86744, 144.65609",5,1
13572,13572,Watsonia,76 Kenmare St,2,h,650000.0,PI,other,2017-08-26,14.5,...,79.0,2006,NaN,-37.70657,145.07878,Northern Metropolitan,2329,"-37.70657, 145.07878",5,1
13574,13574,Westmeadows,9 Black St,3,h,582000.0,S,other,2017-08-26,16.5,...,126.0,1970,NaN,-37.67917,144.89390,Northern Metropolitan,2474,"-37.67917, 144.8939",5,1

np.float64(1.3)

In [1]:
# Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы.  
# Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)