In [12]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data.head(3))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93

* gender — пол;
* race/ethnicity — раса/этническая принадлежность;
* parental level of education — уровень образования родителей;
* lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
* test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
* math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [13]:
# Данные о скольких студентах содержатся в таблице?
#display(student_data.indexes.max())
display(student_data.shape[0])

1000

In [14]:
# Каков балл по письму у студента под индексом 155?
display(student_data.loc[155, 'writing score'])

np.int64(88)

In [15]:
# Сколько суммарно пропущенных значений в таблице? Сколько столбцов имеет тип object? Какой объем памяти (в КБ) занимает таблица?
display(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [16]:
# Каков у студентов средний балл по математике?
display(student_data.loc[:, 'math score'].mean())

np.float64(66.089)

In [17]:
# Какая расовая группа является самой крупной в учебном заведении?
display(student_data.loc[:, 'race/ethnicity'].describe())

count        1000
unique          5
top       group C
freq          319
Name: race/ethnicity, dtype: object

In [18]:
# Каков средний балл по чтению у студентов которые посещали курсы подготовки к экзаменам?
display(student_data[student_data['test preparation course']  == 'completed']['reading score'].mean())

np.float64(73.89385474860335)

In [19]:
# Сколько студентов получили 0 баллов по математике?
display(student_data[student_data['math score'] == 0].shape[0])

1

In [20]:
# Проверить гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов со льготным
display(student_data[student_data['lunch']  == 'standard']['math score'].mean())
display(student_data[student_data['lunch']  == 'free/reduced']['math score'].mean())

np.float64(70.03410852713178)

np.float64(58.92112676056338)

In [21]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
display(student_data['parental level of education'].value_counts(normalize=True))

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

In [22]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от
# среднего балла по письму у студентов в рассовой группе С?
med_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
display(abs(round(med_A - mean_C, 0)))

np.float64(6.0)